div ul{
    background-color: #0B1B40;
    margin-right: 90px;
    cursor: pointer;
}
ul li {
    color: #FFFFFF;
    text-decoration: none;
    display: inline;
    padding-left: 40px;
   
}ul li a{

    text-decoration: none;
    color: #FFFFFF;
    margin-right: 15px;
    cursor: pointer;
}
.menu{   
    padding: 5px;
}

p{
    color: blueviolet;
}

.azul{
    color: blue;
}

.violeta{
    color: blueviolet;
}

#verde{
    color: green;
}